<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Registro de Sucursales.</title>
</head>
<body>
	<form>
		<h1>Registro de sucursales.</h1>
		<p>
			<label>
				Responsable de sucursal (usuario):
				<input></input>
			</label>
		</p>
		<p>
			<label>
				Contraseña:
				<input></input>
			</label>
		</p>
		<p>
			<label>
				Dirección:
				<input></input>
			</label>
		</p>
		<p>
			<label>
				Número de Mesas:
				<input></input>
			</label>
		</p>
		<p>
			<label>
				Descripción:
				<input></input>
			</label>
		</p>
		<p>
			<input type="submit"></input>
		</p>
	</form>
</body>
</html>