<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Datos de sucursal</title>
</head>
<body>
<form>
	<h1>Sucursal "X" </h1>
	<h2>Mesas.</h2>
		<p>
			<label>
				Mesa 1:<br>
				<form>
					<input name="status" value="true" type="radio" checked> Disponible<br>
  					<input name="status" value="false" type="radio"> Ocupada<br>
				</form>
			</label>
		</p>
		<p>
			<label>
				Mesa 2:<br>
				<form>
					<input name="status" value="true" type="radio" checked> Disponible<br>
  					<input name="status" value="false" type="radio"> Ocupada<br>
				</form>
			</label>
		</p>
		<p>
			<label>
				Mesa 3:<br>
				<form>
					<input name="status" value="true" type="radio" checked> Disponible<br>
  					<input name="status" value="false" type="radio"> Ocupada<br>
				</form>
			</label>
		</p>
		<h2>Menú:</h2>
		<p>
			<label>
				Desayunos:<br>
				<input></input>
				<input></input>
				<input></input>
			</label>
		</p>
		<p>
			<label>
				Comidas:<br>
				<input></input>
				<input></input>
				<input></input>
			</label>
		</p>
		<p>
			<label>
				Cenas:<br>
				<input></input>
				<input></input>
				<input></input>
			</label>
		</p>
		<p>
			<label>
				Bebidas:<br>
				<input></input>
				<input></input>
				<input></input>
			</label>
		</p>
		<p>
			<label>
				Postres:<br>
				<input></input>
				<input></input>
				<input></input>
			</label>
		</p>
		<p>
			<input type="submit"></input>
		</p>
</form>
</body>
</html>